{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <h1 class="h2">Welcome to TheDeck Game!</h1>
        <p>Have a bug report to share with us? Use this template to reproduce an isolated test case so we can more easily identify the problem and hopefully find a fix.</p>
        <p>
            <a class="btn btn-primary" href="{{ path('app_game_create') }}">Start new game</a>
        </p>
        <p>For feedbacks or to report a bug, please feel free to contact me on my <a href="mailto:y.hammououali@gmail.com">email</a>.</p>
        <p>Made with <span class="text-danger">♥</span> by Yassin!</p>
    </div>
{% endblock %}
